<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png') %>)"> %>
  <div class="container">
    <h1><%= @list.name %></h1>
    <div class="banner-btn"><a class="btn btn-primary" href="#">Add a movie</a></div>
  </div>
</div>
