<h1>Lists</h1>
<div class="container mt-4">
  <% @lists.each do |list| %>
    <div class="list-container">
      <div class="list-name">
        <h2><%= list.name %></h2>
        <p><%= "explore all" %> <i class="fas fa-angle-right"></i></p>
        <%= link_to "", list_path(list) %>
      </div>
      <div class="cards-line">
        <% list.movies.order(rating: :desc).limit(5).each do |movie| %>
          <%= render "card-movie", movie: movie %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
