<%= render "banner" %>
<div class="container mt-4">
  <div class="cards">
    <% @list.movies.order(rating: :desc).each do |movie| %>
      <%= render "card-movie", movie: movie %>
    <% end %>
  </div>
</div>
