<h1>Bookmarks#new</h1>
<%= simple_form_for [@list, @bookmark], url: list_bookmarks_path do |f| %>
  <%= f.association :movie, collection: Movie.order(:title) %>
  <%= f.input :comment %>
  <%= f.submit class: 'mt-2' %>
<% end %>
