.card-movie {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid gold;
  color: gold;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: scroll;
  position: relative;
  transition: 0.5s;
  img {
    width: 100%;
    object-fit: cover;
  }
  a {
    // color: gold;
    text-decoration: none;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    // color: gold;
    // margin: 0;
  }
  p {
    font-size: 13px;
    opacity: .7;
    margin: 0;
  }
}


.card-movie-infos {
  background-color: rgba(0, 0, 0, 0.0);
  color: rgba(255, 217, 0, 0);
  padding: 16px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0);
  position: relative;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
  overflow: scroll;
  h2 {
    width: 87%;
  }
}

.card-movie .card-movie-rating {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: gold;
  border-radius: 50%;
  height: 32px;
  width: 32px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  // text-align: center;

  p {
    font-family: "arial";
    font-weight: bold;
    color: black;
  }
}




.card-movie:hover {
  transform: scale(130%);
  z-index: 1000;
  .card-movie-infos {
    // transform: translate(0, 120px);
    background-color: rgba(0,0,0,0.85);
    color: rgba(255, 217, 0, 1.0);
    text-shadow: 0 0 8px rgba(0, 0, 0, 1.0);
    .card-movie-rating {
      text-shadow: none;
    }
    z-index: 999;
  }
}

// .card-movie:hover .card-movie-infos {
//   transform: translate(0, 120px);
// }
